body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #9E9E9E;
    color: #333;
}

header {
    background-color: #2E2E2E;
    color: white;
    text-align: center;
    padding: 1em 0;
}

h1 {
    margin: 0;
    font-size: 2.5em;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.gallery-item {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin: 10px;
    width: 300px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: transform 0.2s;
    
}

.gallery-item img {
    width: 100%;
    border-bottom: 1px solid #ddd;
}

.gallery-item h2 {
    margin: 10px 0;
    font-size: 1.5em;
}

.gallery-item p {
    padding: 0 15px;
    font-size: 1em;
}

.gallery-item a {
    display: block;
    padding: 10px;
    color: #4CAF50;
    text-decoration: none;
    font-weight: bold;
    border-top: 1px solid #ddd;
}

.gallery-item a:hover {
    background-color: #f4f4f4;
}

.gallery-item:hover {
    transform: scale(1.05);
}

footer {
    background-color: #2E2E2E;
    color: white;
    text-align: center;
    padding: 1em 0;
    margin-top: 20px;
}
